<div id="blogBG">
    <h2 style="text-align: center; margin-top:4%;margin-bottom:4%; color:white;">
        {{name}}
    </h2>
    <hr style="color: white;">
    <h4 style="text-align: center; margin-top:4%; color:white;">Created by {{user.name}} on {{format_date date_created}}</h4>
    <div style="margin: 0% 5% 25% 5%; background-color: white; border-radius: 5px;">
        <p style="margin-bottom: 5%;color:palevioletred;">"{{text}}"</p>
    </div>
</div>