<div id="blogBG">
    <h2 style="text-align: center; margin-top:4px;margin-bottom:4px; color:white;">
        {{name}}
    </h2>
    <hr style="color: white;">
    <h4 style="text-align: center; margin-top:4px; color:white;">Created by {{user.name}} on {{format_date date_created}}</h4>
    <div style="margin: 0px 5px 15px 5px; background-color: white; border-radius: 5px;">
        <p style="margin-bottom: 5px;color:palevioletred;">"{{text}}"</p>
    </div>
</div>