.blog {
    margin: auto;
    width: 50%;
    background-color: palevioletred;
}
.blogTitles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
      }
#blogBG {
    margin: auto;
    margin-top: 5%;
    border-radius: 20px;
    padding-bottom: 1%;
    width: 50%;
    background-color: palevioletred;
}
#loginForm {
    float: left;
    margin-left: 15%;
    margin-top: 5%;
}
#signUpForm {
    float: right;
    margin-right: 15%;
    margin-top: 5%;
}